.homeApp{
    background-image: url(./backapp.jpg);
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto;
    height: auto;
}
.homeApp .container{
    margin: 0 auto;
    padding: 5rem 0;
}
.homeApp .homeApp__box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeApp__btn{
    background-color: #fb4226;
}
.homeApp__title{
    color: #fff;
    font-weight: 700;
    font-size: xx-large;
}
.homeApp__text{
    color: #fff;
    font-weight: 400;
    font-size: medium;
    padding-top: 5px;
}
.homeApp__carousel{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 193px;
    border-radius: 5px;
}
.homeApp__carouselInner{
    border-radius: 15px;
}

/* Reponsive here */

@media screen and (max-width:991.8px) {
    .homeApp .homeApp__box{
        text-align: center;
    }
   .homeApp .container{
       padding: 2rem 0;
   }
}
@media screen and (max-width:414px) {
    .homeApp .homeApp__box .homeApp__title{
        font-size: x-large;
    }
    .homeApp .homeApp__box .homeApp__text{
        font-size: 12px;
    }
}