.card-img-top{
    width: 230px;
    height: 250px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-title{
    height: 110px;
}