
.container{
  max-width: 80%;
  margin: 100px auto;
}

.top-bar{
  z-index: 10;
}

.side-bar{
  z-index: 0;
}

.edit-button{
  color: green;
  cursor: pointer;
}
.delete-button{
  color: red;
  cursor: pointer;
}
